* {
    margin: 15px;
    padding: 5px;
    box-sizing: border-box;
  
  }
  
  body {
    background-image: url(funfo\ 6.jpg);
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-size: cover;
    background-position: center;
  }

  .container {
    background-color: rgba(172, 45, 140, 0.651);
    padding: 50px;
    border: 2px solid #000000e0;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 800px;
    height: 900px;
    position: relative;
    overflow: hidden;
    color: rgb(0, 0, 0);
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;


  }

  #titulo {
    position: absolute;
    position: rotate (-5deg);
    top: 5%;
    left: 1%;
    width: 500px;
  }


  #word-display {
    font-size: 30x;
    margin-bottom: 20px;
    color: #1b1717;
    font-weight: bold;
    background-color: #e69808;
    border: 2px solid #070a04;
    border-radius: 5px;
  
  }
  
  #wrong-guesses {
    font-size: 30px;
    margin-bottom: 20px;
    color: #fc0303;
    font-weight: bold;
    background-color: #e69808;
    border: 2px solid #000000;
    border-radius: 5px;
    padding: 10px;
    text-align: center;


  }
  
  h1 {
    color: black;
    font-size: 36px;
  
  
  }
  

  #remaining-chances {
    font-weight: bold;
    color: #e01e17;
    background-color: #ec9f11;
    border: 2px solid #0a0202;
    border-radius: 5px;
    padding: 10px;
    font-size: 30px;
    margin-bottom: 10px;

  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    background-color:rgb(75, 245, 8);
  }
  
  input {
    padding:10px;
    font-size: 30px;
    width: 100px;
    height: 40px;
    text-align: center;
    border: 2px solid #f8a201;
    border-radius: 5px;
    background-color: #f7f7f7;
    color: #0a0202;

    
    
  }
  
  input:focus {
    outline: invert;
    outline-color: #ecd611;
    outline-style: solid;
    outline-width: 2px;
    border: 2px solid #81f721;

  }
  
  #hangman-container {
    position: relative;
    width: 600px;  
    height: 400px;
  
  }



  
  #forca img {
    position: absolute;
    top: 9%;
    left: 200px;
    width: 170px;
    height: 240px;

  
  
  }

  #chao img {
    position: absolute;
    top: 38%;
    left: 150px;
    width: 400px;
    height: 300px;
  }
  
  
  #cabeca {
    top: 2%;
    left: 200px;
    width: 150px;
    border-radius: 100%;
    position: absolute;
  


  }
  
  #pescoco {
    top: 1%;
    left: 180px;
    width: 200px;
    position: absolute;

  }
  
  #corpo {
    top: 15%;
    left: 180px;
    width: 200px;
    position: absolute;
  
  }
  
  #braco-direito {
    top: 14%;
    left: 180px;
    width: 200px;
    position: absolute;
    
  

  }
  
  #braco-esquerdo {
    top: 20%;
    left: 210px;
    width: 200px;
    position: absolute;

   
  }

  
  #perna-esquerda {
    top: 25%;
    left: 190px;
    width: 200px;
    position: absolute;
   
    
  }

  
  #perna-direita {
    top: 31%;
    left: 185px;
    width: 180px;
    position: absolute;
 
  }
  
  #perdeu {
    top: 7%;
    left: 180px;
    width: 200px;
    position: absolute;


  }
  

  
  