* {
    margin: 15px;
    padding: 5px;
    box-sizing: border-box;
  
  }
  
  body {
    background-image: url(fundo.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-size: cover;
    background-position: center;
  }

  .container {
    background-color: rgba(255, 255, 255, 0.945);
    padding: 50px;
    border: 2px solid #000000e0;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 800px;
    height: 900px;
    position: relative;
    overflow: hidden;
    color: rgb(0, 0, 0);
    font-size: 20px;


  }

  
  button {
    position: absolute;
    top: 82%;
    left: 60%;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    background-color:rgb(75, 245, 8);
    font-size: 1em;
  }

  #restart-button {
    position: relative;
    top: 1%;
    left: 15px;
    width: 200px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    background-color: #f1da08;
    color: rgb(8, 8, 8);
    transition: background-color 0.3s ease;
    border: 2px solid #000000;
    border-radius: 5px;
  }
  
  #restart-button:hover {
    background-color: #0dd438;
  }
  
  

  #titulo {
    position: absolute;
    position: rotate ();
    top: -3%;
    left: 1%;
    width: 450px;
  }


  #word-display {
    font-size: 30x;
    margin-bottom: 20px;
    color: #1b1717;
    font-weight: bold;

  
  }
  
  #wrong-guesses {
    font-size: 30px;
    color: #0a0505;
    text-align: center;


  }
  
   

  h1 {
    color: black;
    font-size: 36px;
  
  
  }
  

  #remaining-chances {
    font-weight: bold;
    color: #0a0202;
    border-radius: 5px;
    padding: 10px;
    font-size: 20px;
    margin-bottom: 10px;

  }
  

  
  input {
    position: absolute;
    top: 82%;
    left: 30%;

    
    
  }

  
  
  #hangman-container {
    position: relative;
    width: 600px;  
    height: 400px;
  
  }



  
  #forca img {
    position: absolute;
    top: 12%;
    left: 200px;
    width: 170px;
    height: 240px;

  
  
  }

  #chao img {
    position: absolute;
    top: 38%;
    left: 150px;
    width: 500px;
    height: 300px;
  }
  
  
  #cabeca {
    top: 2%;
    left: 200px;
    width: 150px;
    border-radius: 100%;
    position: absolute;
  


  }
  
  #pescoco {
    top: 1%;
    left: 180px;
    width: 200px;
    position: absolute;

  }
  
  #corpo {
    top: 15%;
    left: 180px;
    width: 200px;
    position: absolute;
  
  }
  
  #braco-direito {
    top: 14%;
    left: 180px;
    width: 200px;
    position: absolute;
    
  

  }
  
  #braco-esquerdo {
    top: 20%;
    left: 210px;
    width: 200px;
    position: absolute;

   
  }

  
  #perna-esquerda {
    top: 25%;
    left: 190px;
    width: 200px;
    position: absolute;
   
    
  }

  
  #perna-direita {
    top: 31%;
    left: 185px;
    width: 180px;
    position: absolute;
 
  }
  
  #perdeu {
    top: 7%;
    left: 180px;
    width: 200px;
    position: absolute;


  }
  

  
  